.navbar.active {
    background-color: #C93D8D ;
    position : fixed;
    width: 100%;
    transition : 1s;
}

.navbar.active .logo span {
    color : #1F0443 ;
}

.btn-solid-login {
    padding: 10px;
    width: 80px;
    border-radius: 10px;
    text-align: center;
    font-family: 'Poppins', sans-serif; 
}

.navbar {
    padding-top: 10px;
}

.navbar-wrapper .content-end a {
    margin-left: 20px;
}

.nav-item {
    margin-left: 15px;
}

.nav-item:hover {
    text-decoration : underline ;
}

.navbar a {
    color: rgb(255, 255, 255);
}
