.menu-bar {
    background-color: #C93D8D ;
    text-decoration: none;
    margin-right: 10px;
    border-radius: 10px;
}

.filter {
    background-color: #C93D8D;
    margin-left: 10px;
    border-radius: 10px;
}

.filter-menu {
    margin-left: 10px;
    border-radius: 10px;
}

.dropdown {
    background-color: white;
    border-radius: 10px;
    margin-left: 10px;
}
