.menu-bar {
    background-color: #C93D8D ;
    text-decoration: none;
    margin-right: 10px;
    border-radius: 10px;
}

.filter {
    background-color: #C93D8D;
    margin-left: 10px;
    border-radius: 10px;
}

.filter-menu {
    margin-left: 10px;
    border-radius: 10px;
}

.dropdown {
    background-color: white;
    border-radius: 10px;
    margin-left: 5px;
}

.dropdown-price {
    background-color: white;
    margin-left: 12px;
    border-radius : 10px;
}

.dropdown-price input {
    border-radius : 10px;
    width : 105px
}

.dropdown-price .btn {
   border-radius : 10px;
   background-color : #be237b;
   padding : 2px;
}

.menu-filter {
    background-color :  white ;
    width : 900px;
    height : 100% ;
}