.btn-buy {
    border-radius: 10px;
    background-color: #af2071 ;
}

.btn-buy:hover {
    background-color: #C93D8D ;
}

.Artist-Name {
    opacity: 70%;
}

.card-nft {
    width: 267px;
    background-color:#1F0443;
    border-radius: 10px;
}

.card-nft img {
    height : 280px;
    width: 230px;
    border-radius: 10px;
}
