@media screen and (max-width: 990px) {
    .title h1 {
        font-size: 50px;
        text-align: center;
    }

    .title {
        text-align: center;
    }
    

    .img_1 img {
        width: 170px;
        height: 220px;
        border-radius: 8px;
    }

    .img_2 img {
        width: 220px;
        height: 270px;
    }

    .img_3 img {
        width: 170px;
        height: 220px;
        border-radius: 8px;
    }
    
    .header2 {
        text-align: center;
    }

    .category-image {
        width: 200px;
        height: 125px;
    }

    
}

@media screen and (max-width: 1024px) {
    .title h1 {
        font-size: 40px;
    }
    .img_1 img {
        width: 130px;
        height: 170px;
        border-radius: 8px;
    }

    .img_1 {
        margin-top: 50px;
    }

    .img_2 img {
        width: 180px;
        height: 230px;
    }

    .img_2 {
        margin-top: 180px;
    }

    .img_3 img {
        width: 130px;
        height: 170px;
        border-radius: 8px;
    }
    
    .img_3 {
        margin-top: 50px;
    }
    
    .header2 {
        text-align: center;
    }

    .category-image {
        width: 260px;
        height: 185px;
    }
    
}

@media screen and (max-width: 706px) {
    .category-image {
        width: 400px;
        height: 250px;
    }
}

@media screen and (max-width: 847px) {
    .category-image {
        width: 400px;
        height: 250px;
    }
}

@media screen and (max-width: 1036px) {
    .title h1 {
        font-size: 38px;
    }

    .img_1 img{
        width: 140px;
        height: 190px;
    }
    .img_2 img {
        width: 180px ;
        height: 230px;
    }
    .img_3 img{
        width: 140px;
        height: 190px;
    }
}

@media screen and (max-width: 1059px) {
    .title {
        padding-top: 100px ;
    }
    .title h1 {
        font-size: 48px;
    }
    
    .title p {
        font-size: 15px;
    }
    .img_1 {
        padding-top: 160px;
    }
    .img_2 {
        padding-top: 10px;
    }
    .img_3 {
        padding-top: 160px;
    }
    .img_1 img{
        width: 140px;
        height: 190px;
    }
    .img_2 img {
        width: 180px ;
        height: 230px;
    }
    .img_3 img{
        width: 140px;
        height: 190px;
    }
    .header2 img {
        width: 110px;
        height: 110px;
    }

    .category-image {
        width: 290px;
        height: 200px;
    }

    .popular-image {
        height: 500px;
        width: 217px;
    }

    .popular-item-image {
        height: 180px;
    }
    .popular-item-image img {
        width: 175px;
        height: 230px;
    }

    .explorer-item {
        height: 480px;
        width: 217px;
    }

    .item-image {
        height: 180px;
    }
    .item-image img {
        width: 175px;
        height: 230px;
    }

} 
