/*Alert Login*/
.alert {
  text-decoration: none;
  width: max-content;
}

.alert span {
  font-weight: bold;
}
/*End Alert Login*/

.LandingPage {
  background: url("https://firebasestorage.googleapis.com/v0/b/upload-113c4.appspot.com/o/Background-Header.png?alt=media&token=6729884f-d230-4765-b8c2-c073a76ceca7");
  /* background-color:#120227; */
  background-size: cover;
  max-height: 100%;
  min-width: 100%;
  color: rgb(255, 255, 255);
  display: block;
}

div {
  display: block;
}

h1 {
  display: block;
}

/*css Header */

.Header {
  padding-bottom: 90px;
}

.title {
  margin-top: 180px;
  margin-right: 50px;
  font-family: "Poppins", sans-serif;
}

.title h1 {
  font-size: 48px;
  font-weight: 400px;
}

.title p {
  font-size: 20px;
  opacity: 50%;
  margin-bottom: 30px;
}

.btn-solid-lg {
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 10px;
  background-color: #c93d8d;
}

.btn-solid-lg:hover {
  color: #c93d8d;
  font-weight: bold;
  background-color: #f3eaff;
}

/*image Header*/
.name {
  font-weight: bold;
}

.Description {
  opacity: 50%;
}

.img-header img {
  width: 520px;
  height: 520px;
  border-radius: 80px;
}

.Content-last-background {
  padding-top: 200px;
  padding-bottom: 150px;
  background-image: url("https://i.postimg.cc/XvwxZL9M/Background-Content3.png");
  max-width: 100%;
  background-size: cover;
}

.Content-last {
  max-height: 100px;
  text-align: center;
}

.Content-last h1 {
  font-weight: 600;
}

.Content-last p {
  font-size: 20px;
  opacity: 50%;
  margin-bottom: 30px;
}

.btn-start {
  background-color: #c93d8d;
  border-radius: 10px;
  text-decoration: none;
  padding: 10px;
}

.btn-start:hover {
  font-weight: bold;
  color: #c93d8d;
  background-color: #ffffff;
  border-radius: 10px;
  text-decoration: none;
  padding: 10px;
}

/* Content Last End*/

/*Login*/
.card {
  background-color: #361561;
  border-radius: 20px;
}

.img-fluid {
  height: 100%;
  width: 100%;
  border-radius: 20px 0px 0px 20px;
}

.form-login {
  padding-top: 180px;
}

.form-check-label {
  margin-left: 10px;
}

.btn {
  width: 100%;
}

.btn-login {
  text-align: center;
  border-radius: 10px;
  background-color: #c93d8d;
}

.btn-login:hover {
  font-weight: bold;
  color: #c93d8d;
  background-color: #ff69be;
}

.Forgot-pw {
  color: #c93d8d;
  font-weight: 600;
  text-decoration: none;
}

.Register {
  color: #c93d8d;
  text-decoration: none;
}

.Register:hover {
  color: #f757b2;
}

a {
  color: white;
}

a:hover {
  color: white;
}

/*Login end*/
