/* Payment pages*/
.Payment {
    background-color: #120227;
    height: 100%;
    width: 100%;
}

.Payment img {
    width : 400px;
    height : 500px;
    transition: transform .5s ease;
    border-radius: 0 0 15px 15px ;
}

.rounded-5 {
    border-radius: 15px;
}

.btn-payment {
    background-color: #be237b;
    padding: 10px;
    color: white;
}


.btn-payment:hover {
    background-color: #a11263;
    color: white;
}

.Summary {
    font-size: large;
    opacity: 50%;
    text-decoration: none;
}

.content-end {
    font-weight: bold;
    color: #be237b;
}
/* End Payment pages*/