nav {
    background-color: #C93D8D;
    padding: 60px;
}
.navbar a {
    color: rgb(255, 255, 255);
}

.navbar a:hover {
    color: #1F0443;
    font-weight: bold;
}

.btn-solid-login {
    border-radius: 10px;
    padding: 10px;
    width: 80px;
    text-align: center;
    background-color: #1F0443;
    text-decoration: none;
    font-family: 'Poppins', sans-serif; 
}

.btn-solid-login:hover {
    background-color: #f3eaff;
}

span {
    color: #1F0443;
    font-weight: 800;
    font-family: 'Poppins', sans-serif;
}

/*css Header */

.Header {
    padding: 200px 60px;
    background-image:url("../img/Background-Header.png");
    background-size: cover;
    height: 978px;
    color: rgb(255, 255, 255);
}
.Component1 {
    width: 650px;
}

.Component1 h1 {
    font-size: 80px;
    font-weight: 600;
}

.Component1 p {
    margin-top: 20px;
    opacity: 50%;
    font-size: 40px;
    margin-bottom: 50px;
}

.btn-solid-lg {
    color:  white;
    padding: 15px;
    font-size: 20px;
    text-decoration: none;
    border-radius: 15px;
    background-color: #1F0443;
}

.btn-solid-lg:hover {
    color:#1F0443;
    font-weight: 600;
    background-color: #f3eaff;
    
}

/* */

body {
    height: 4000px;
}