/* Logo */
.logo {
    color: white;
    font-size: 24px;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}

.logo span {
    color: #C93D8D;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
}
/* Logo END */
.navbar-wrapper {
    font-size: 15px;
}

.navbar-wrapper .content-end a {
    margin-left: 20px;
}

.nav-item {
    margin-left: 15px;
}
.navbar a {
    color: rgb(255, 255, 255);
}

.nav a:hover {
    color: #C93D8D;
    font-weight: bold;
}

.btn-solid-login {
    padding: 10px;
    width: 80px;
    border-radius: 10px;
    text-align: center;
    background-color: #C93D8D;
    text-decoration: none;
    font-family: 'Poppins', sans-serif; 
}

.btn-solid-login:hover {
    background-color: #f3eaff;
}

/* Footer */
footer .Logo {
    margin-top: 10px;
}

footer a {
    color: white;
}

footer a:hover {
    color: white;
}

footer {
    color: white;
    height: auto;
    width: 100%;
}

footer li:hover {
    color: #C93D8D;
}

.title-footer {
    text-decoration: none;
    color: #C93D8D;
    font-weight: bold;
}

.Footer-List ul {
    list-style: none;
    padding: 49px ;
    float: left;
}

.Footer-List li {
    padding-top: 15px;
}

.sosmed a{
    padding: 5px;
}
