nav {
    padding: 50px;
}
.navbar a {
    color: rgb(255, 255, 255);
    padding: 5px;
    margin: 8px;
}

.navbar-nav {
    padding: 20px;
}

.navbar a:hover {
    color: #C93D8D;
    font-weight: bold;
}

.logo {
    color: white;
    font-size: 24px;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}

span {
    color: #C93D8D;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
}

.btn-solid-login {
    border-radius: 10px;
    width: 80px;
    text-align: center;
    background-color: #1F0443;
    text-decoration: none;
    font-family: 'Poppins', sans-serif; 
}

.btn-solid-login:hover {
    background-color: #f3eaff;
}


/*css Header */

Header {
    background-image:url("../img/Background-Header.png");
    background-size: cover;
    height: 978px;
    color: rgb(255, 255, 255);
}

.Header {
    padding-top: 90px;
}

.title {
    padding-top: 200px;
    font-family: 'Poppins', sans-serif;
}

.title h1 {
    font-size: 48px;
    font-weight: 400px;
}

.title p {
    font-size: 20px;
    opacity: 50%;
    margin-bottom: 30px;
}

.btn-solid-lg {
    color:  white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 10px;
    background-color: #C93D8D;
}

.btn-solid-lg:hover {
    color:#1F0443;
    font-weight: 600;
    background-color: #f3eaff;
    
}

/*image Header*/

.img-1 {
    margin-top: 500px;
    width: 217px;
    height: 249px;
}

img {
    padding: 100px;
}