input {
    background-color: transparent;
    outline: 0;
    width: 300px;
    border: none;
}

.Search {
    opacity: 70%;
    border: solid 1px;
    border-color: white;
    outline: invert;
    border-radius: 20px;
    background-color: transparent;
}

button {
    background-color: transparent;
    color: white;
    border: none;
}

::placeholder {
    text-align: start;
    color: white;
    opacity: 30%;
}