/* Loading */
.Loading-Page {
    background-color:#1F0443 ;
}
/* Loading End*/

/* Dashboard */
.navbar-wrapper {
    font-size: 15px;
}

.navbar-wrapper a:hover {
    color: #C93D8D;
}
/* end Dashboard */

/* Logo */
.logo {
    color: white;
    font-size: 24px;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}

.logo span {
    color: #C93D8D;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
}
/* Logo END */

.table tbody :hover {
    background-color:#2e006e;
}
