.LandingPage {
    background-image:url("../img/Background-Header.png");
    font-family: 'Poppins', sans-serif;
    background-size: cover;
    max-height: 100%;
    width: auto;
    color: rgb(255, 255, 255);
    display: block;
}

div {
    display: block;
}

h1 {
    display: block;
}

/*css Header */


.Header {
    padding-top: 90px;
    padding-bottom: 90px;
}

.title {
    padding-top: 180px;
    margin-right: 100px;
    font-family: 'Poppins', sans-serif;
}

.title h1 {
    font-size: 48px;
    font-weight: 400px;
}

.title p {
    font-size: 20px;
    opacity: 50%;
    margin-bottom: 30px;
}

.btn-solid-lg {
    color:  white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 10px;
    background-color: #C93D8D;
}

.btn-solid-lg:hover {
    color:#C93D8D;
    font-weight: bold;
    background-color: #f3eaff;
    
}

/*image Header*/
.img_1 {
    text-align: center;
    padding-top: 250px;
}

.img_1 img {
    width: 200px;
    height: 250px;
    border-radius: 10px;
}

.img_2 {
    text-align: center;
    padding-top: 150px;
}

.img_2 img {
    width: 250px;
    border-radius: 10px;
}

.img_3 {
    padding-top: 250px;
    text-align: center;
}

.img_3 img {
    width: 200px;
    border-radius: 10px;
}

.image a :hover {
    border: solid;
}

.image p {
    margin-top: 10px;
}

.name {
    font-weight: bold;
}

.Description {
    opacity: 50%;
}

/* header2*/
.header2 {
    margin-bottom: 20px;
}

.header2 img {
    padding: 10px;
    width: 150px;
    height: 150px;
    border-radius: 20px;
}


.header2 img:hover {
    border: solid;

}

/* header2 END*/

/* Content 2*/
.content2 {
    padding: 20px;
    text-align: center ;
}
.content2 ul {
    list-style: none;
    float: left;
}

.total {
    font-size: 25px;
    font-weight: bold;
}

.title-total {
    opacity: 50%;
}

/* Content 2 End*/

/* Category 3*/

.Category {
    padding: 20px;
}

.item-image-1 {
    background-image: url("https://i.postimg.cc/s2RXV1vw/matt-roskovec-f-B3-u-W-TUcs-unsplash.jpg");
    width: 400px;
    height: 250px;
    border-radius: 20px;
}

.item-image-2 {
    background-image: url("https://i.postimg.cc/B61yg5TC/anshita-nair-f-F0munh-TD4w-unsplash.jpg");
    width: 400px;
    height: 250px;
    border-radius: 20px;
}

.item-image-3 {
    background-image: url("https://i.postimg.cc/6qMm6Htt/erik-mclean-Qzpgq-Elv-Si-A-unsplash.jpg");
    width: 400px;
    height: 250px;
    border-radius: 20px;
}

.Category-item-title {
    background-color: #C93D8D;
    padding: 10px;
    border-radius: 0px 20px;

}

/* Category 3 End*/

/* Content Last */

.Content-last-background {
    padding-top: 200px;
    padding-bottom: 150px;
    background-image: url("https://i.postimg.cc/XvwxZL9M/Background-Content3.png");
    max-width: 100%;
    background-size: cover;
    
}

.Content-last {
    max-height: 100px;
    text-align: center;
}

.Content-last h1 {
    font-weight: 600;
}

.Content-last p {
    font-size: 20px;
    opacity: 50%;
    margin-bottom: 30px;
}

.btn-start {
    background-color:#C93D8D;
    border-radius: 10px;
    text-decoration: none;
    padding: 10px;
}

.btn-start:hover {
    font-weight: bold;
    color: #C93D8D;
    background-color:#ffffff;
    border-radius: 10px;
    text-decoration: none;
    padding: 10px;
}

/* Content Last End*/



/*Login*/ 

.Login {
    background-color: #1F0443;
    height: auto;
}

.card {
    background-color: #361561;
    border-radius: 20px;
}

.img-fluid {
    height: 100%;
    width: 100%;
    border-radius: 20px 0px 0px 20px;
}

.form-login {
    padding-top: 180px;
}

.btn-login {
    color: white;
    border-radius: 10px;
    padding: 15px;
    background-color: #C93D8D;
    text-decoration: none;
}

.btn-login:hover {
    font-weight: bold;
    color: #C93D8D;
    background-color: white;
}

.Register {
    color:#C93D8D;
    text-decoration: none;
}

.Register:hover {
    color:#f757b2;
}

a {
    color: white;
}

a:hover {
    color: white;
}

/*Login end*/ 