.LandingPage {
    background-image:url("../img/Background-Header.png");
    background-size: cover;
    height: 1500px;
    width: auto;
    color: rgb(255, 255, 255);
    display: block;
}

div {
    display: block;
}

h1 {
    display: block;
}

/*css Header */

.Header {
    padding-top: 90px;
    padding-bottom: 90px;
}

.title {
    padding-top: 180px;
    margin-right: 100px;
    font-family: 'Poppins', sans-serif;
}

.title h1 {
    font-size: 48px;
    font-weight: 400px;
}

.title p {
    font-size: 20px;
    opacity: 50%;
    margin-bottom: 30px;
}

.btn-solid-lg {
    color:  white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 10px;
    background-color: #C93D8D;
}

.btn-solid-lg:hover {
    color:#C93D8D;
    font-weight: bold;
    background-color: #f3eaff;
    
}

/*image Header*/
.img_1 {
    text-align: center;
    padding-top: 250px;
}

.img_1 img {
    width: 200px;
    height: 250px;
    border-radius: 10px;
}

.img_2 {
    text-align: center;
    padding-top: 150px;
}

.img_2 img {
    width: 250px;
    border-radius: 10px;
}

.img_3 {
    padding-top: 250px;
    text-align: center;
}

.img_3 img {
    width: 200px;
    border-radius: 10px;
}

.image a :hover {
    border: solid;
}

.image p {
    margin-top: 10px;
}

.name {
    font-weight: bold;
}

.Description {
    opacity: 50%;
}

/* header2*/

.header2 img {
    padding: 10px;
    width: 150px;
    height: 150px;
    border-radius: 20px;
}

/* header2 END*/

/* Content 2*/
.content2 {
    text-align: center ;
}
.content2 ul {
    list-style: none;
    float: left;
}

.total {
    font-size: 25px;
    font-weight: bold;
}

.title-total {
    opacity: 50%;
}

/* Content 2 End*/

/* Content 3*/
.Category {
    padding-top: 50px;
}

.Category ul {
    list-style: none;
    float: left;
}

.Category li {
    background-color: #1F0443;
    width: 390px;
    height: 250px;
    text-align: center;
}


/* Content 3 End*/


/*Login*/ 

.Login {
    background-color: #1F0443;
    height: auto;
}

.card {
    background-color: #361561;
    border-radius: 20px;
}

.img-fluid {
    height: 100%;
    width: 100%;
    border-radius: 20px 0px 0px 20px;
}

.form-login {
    padding-top: 180px;
}

.btn-login {
    color: white;
    border-radius: 10px;
    padding: 15px;
    background-color: #C93D8D;
    text-decoration: none;
}

.btn-login:hover {
    font-weight: bold;
    color: #C93D8D;
    background-color: white;
}

.Register {
    color:#C93D8D;
    text-decoration: none;
}

.Register:hover {
    color:#f757b2;
}

a {
    color: white;
}

a:hover {
    color: white;
}

/*Login end*/ 