.LandingPage {
    background-image:url("../img/Background-Header.png");
    background-size: cover;
    max-height: 100%;
    min-width: 100%;
    color: rgb(255, 255, 255);
    display: block;
}

.alert {
    text-decoration: none;
    width:max-content;
}

.alert span {
    font-weight: bold;
}
.background-footer {
    background-color:#1F0443 ;
}

div {
    display: block;
}

h1 {
    display: block;
}

/*css Header */


.Header {
    padding-bottom: 90px;
}

.title {
    padding-top: 180px;
    margin-right: 100px;
    font-family: 'Poppins', sans-serif;
}

.title h1 {
    font-size: 48px;
    font-weight: 400px;
}

.title p {
    font-size: 20px;
    opacity: 50%;
    margin-bottom: 30px;
}

.btn-solid-lg {
    color:  white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 10px;
    background-color: #C93D8D;
}

.btn-solid-lg:hover {
    color:#C93D8D;
    font-weight: bold;
    background-color: #f3eaff;
    
}

/*image Header*/
.img_1 {
    text-align: center;
    padding-top: 200px;
}

.img_1 img {
    width: 200px;
    height: 250px;
    border-radius: 10px;
}

.img_2 {
    text-align: center;
    margin-top: 100px;
}

.img_2 img {
    width: 250px;
    border-radius: 10px;
}

.img_3 {
    padding-top: 200px;
    text-align: center;
}

.img_3 img {
    width: 200px;
    border-radius: 10px;
}

.image a :hover {
    border: solid;
}

.image p {
    margin-top: 10px;
}

.name {
    font-weight: bold;
}

.Description {
    opacity: 50%;
}

/* header2*/
.header2 {
    margin-bottom: 20px;
}

.header2 img {
    padding: 10px;
    width: 150px;
    height: 150px;
    border-radius: 20px;
}


.header2 img:hover {
    border: solid;

}

/* header2 END*/

/* Content 2*/
.content2 {
    padding: 20px;
    text-align: center ;
}
.content2 ul {
    list-style: none;
    float: left;
}

.total {
    font-size: 25px;
    font-weight: 600;
}

.title-total {
    opacity: 50%;
}

/* Content 2 End*/

/* Category 3*/

.Category {
    padding: 20px;
}

.item-image {
    width: 400px;
    height: 250px;
    border-radius: 20px;
}
.item-image-1 {
    background-image: url("https://i.postimg.cc/s2RXV1vw/matt-roskovec-f-B3-u-W-TUcs-unsplash.jpg");
    
}

.item-image-2 {
    background-image: url("https://i.postimg.cc/B61yg5TC/anshita-nair-f-F0munh-TD4w-unsplash.jpg");
}

.item-image-3 {
    background-image: url("https://i.postimg.cc/6qMm6Htt/erik-mclean-Qzpgq-Elv-Si-A-unsplash.jpg");
}

.Category-item-title {
    background-color: #C93D8D;
    padding: 10px;
    border-radius: 0px 20px;

}

/* Category 3 End*/

/* Popular */
.btn-buy {
    border-radius: 10px;
    padding: 10px;
    background-color: #C93D8D;
    text-decoration: none;
}

.btn-buy:hover {
    font-weight: bold;
    color: #C93D8D;
    background-color: #ffffff;
}

.Popular {
    padding-top: 100px;
}

.Artist-Name {
    opacity: 70%;
}

.popular-image {
    padding: 20px;
    height: 540px;
    width: 307px;
    background-color:#1F0443;
    border-radius: 10px;
}

.item-image img {
    border-radius: 10px;
    width: 265px;
    height: 320px;
    
}

.desc-item {
    padding-top: 70px;
}


/* Popular END*/

/* Content Last */

.Content-last-background {
    padding-top: 200px;
    padding-bottom: 150px;
    background-image: url("https://i.postimg.cc/XvwxZL9M/Background-Content3.png");
    max-width: 100%;
    background-size: cover;
    
}

.Content-last {
    max-height: 100px;
    text-align: center;
}

.Content-last h1 {
    font-weight: 600;
}

.Content-last p {
    font-size: 20px;
    opacity: 50%;
    margin-bottom: 30px;
}

.btn-start {
    background-color:#C93D8D;
    border-radius: 10px;
    text-decoration: none;
    padding: 10px;
}

.btn-start:hover {
    font-weight: bold;
    color: #C93D8D;
    background-color:#ffffff;
    border-radius: 10px;
    text-decoration: none;
    padding: 10px;
}

/* Content Last End*/



/*Login*/ 

.Login {
    background-color: #1F0443;
    height: auto;
}

.login-content {
    margin-top: 40px;
}

.card {
    background-color: #361561;
    border-radius: 20px;
}

.img-fluid {
    height: 100%;
    width: 100%;
    border-radius: 20px 0px 0px 20px;
}

.form-login {
    padding-top: 180px;
}

.form-check-label {
    margin-left: 10px;
}

.btn {width: 100%;}

.btn-login {
    text-align: center;
    border-radius: 10px;
    background-color: #C93D8D;
}

.btn-login:hover {
    font-weight: bold;
    color: #C93D8D;
    background-color: #ff69be;
}

.Forgot-pw {
    color: #C93D8D;
    font-weight: 600;
    text-decoration: none;
}

.Register {
    color:#C93D8D;
    text-decoration: none;
}

.Register:hover {
    color:#f757b2;
}

a {
    color: white;
}

a:hover {
    color: white;
}


/*Login end*/ 

/* Explore */
.ex-title {
    text-decoration: none;
    margin-right: 20px;
}


.ex-menu {
    border-radius: 10px;
    text-decoration: none;
    margin-left: 20px;
    padding: 10px;
    background-color:#C93D8D;
}


.ex-menu:hover {
    font-weight: 600;
    color: #C93D8D;
    background-color: white;
}

.menu-active {
    font-weight: 600;
    color: #C93D8D;
    background-color: white;
}

.Explore {
   
    background-color: #120227;
    background-size: cover;
    height: auto;
    max-height: max-content;
    width: auto;
}

.Explore h1 {
    padding-top: 150px;
    color: white;
}

/* Explore End*/

/* Help */
.help-title {
    text-decoration: none;
}

.Help {
    background-color: #120227;
    width: auto;
    height: auto;
}

.content-help {
    border-radius: 20px;
    padding: 25px;
    text-align: center;
    background-color: #1F0443;
    height: 300px;
    width: 388px;
}

.content-help p {
    font-size: 20px;
    opacity: 50%;
    margin-top: 40px;
    margin-bottom: 40px;
}

.btn-help {
    text-decoration: none;
    background-color: #C93D8D;
    width: 100%;
    border-radius: 10px;
    margin-bottom: 10px;
}

.btn-help:hover {
    background-color: #be237b;
}

.background-navbar {
    background-color:#1F0443;
}
/* End Help */

/* Dashboard */
.Dashboard {
    background-color: #120227;
    width: auto;
    min-height: auto ;
}

.title-dashboard {
    text-decoration: none;
    font-size: 20px;
}
/* end Dashboard */

.create-collection {
    margin-top: 25px;
    background-color:#1F0443;
    border-radius: 10px;
    height: 400px;
}


.create-collection input {
    margin-top:15px;
    color: white;
    width: 500px;
    height: 35px;
    background-color: #361561;
    border-radius: 5px;
    border-style: none;
}

.external-link {
    margin-right: 80px;
    margin-left: 30px;
}

.create-collection .name {
    margin-right: 125px;
    margin-left: 30px;
}
.create-collection .description {
    margin-right:90px ;
    margin-left: 30px;
}
.create-collection .price {
    margin-right:135px ;
    margin-left: 30px;
}

.form-price {
    margin-bottom: 20px;
}
.btn-upload {
    padding: 10px;
    background-color: #be237b;
    margin-left: 200px;
    border-radius: 10px;
    text-decoration: none;
    
}

.btn-upload:hover {
    background-color:#a11263;
}